@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --colorPrimary: 113, 99, 186;
}

body {
  display: flex;
}

.sidebar {
  position: static;
  width: 110px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s linear;
  background: rgba(var(--colorPrimary), 255);
}
.sidebar:hover {
  width: 265px;
  transition: all 0.5s;
}

.logo {
  font-size: 4rem;
}

.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.menu li:hover,
.menu li.active {
  background: #e0e0e058;
}
.menu a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu a span {
  overflow: hidden;
}
.menu a i {
  font-size: 1.2rem;
}
.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.main--content {
  position: relative;
  background: #ebe9e9;
  width: 100%;
  padding: 1rem;
}

.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  padding: 10px 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.header--wrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.header--title {
  color: rgba(var(--colorPrimary), 255);
}

.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search--box {
  background: rgb(237, 237, 237);
  color: rgba(var(--colorPrimary), 255);
  border-radius: 15px;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.search--box input {
  background: transparent;
  padding: 10px;
}
.search--box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.search--box i:hover {
  transform: scale(1.2);
}

.main--title {
  color: rgba(var(--colorPrimary), 255);
  font-size: 15px;
  margin-bottom: 10px;
}
.card--container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}
.card--wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.card--payment {
  background: rgb(229, 223, 223);
  padding: 1.2rem;
  border-radius: 10px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}
.card--payment:hover {
  transform: translateY(-5px);
}
.card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.amount {
  display: flex;
  flex-direction: column;
}
.amount--title {
  font-size: 12px;
  font-weight: 200;
}
.amount--value {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
.card--icon {
  color: #fff;
  padding: 1rem;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  background: red;
}
.card--detail {
  font-size: 18px;
  color: #777777;
  letter-spacing: 0.7px;
  font-family: "Courier New", Courier, monospace;
}

/* color css */
.light-red {
  background: rgb(251, 233, 233);
}
.light-purple {
  background: rgb(254, 226, 254);
}
.light-green {
  background: rgb(235, 254, 235);
}
.light-blue {
  background: rgb(236, 236, 254);
}
.dark-red {
  background: red;
}
.dark-purple {
  background: purple;
}
.dark-green {
  background: green;
}
.dark-blue {
  background: blue;
}

/* tabular section */
.tabular--wrapper {
  background: #fff;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
}
.table--container,
.table--container table {
  width: 100%;
}
.table--container table {
  border-collapse: collapse;
}
.table--container thead {
  background: rgba(var(--colorPrimary), 255);
  color: #fff;
}
.table--container th {
  padding: 15px;
  text-align: left;
}
.table--container tbody {
  background: #f2f2f2;
}
.table--container td {
  padding: 15px;
  font-size: 14px;
  color: #333;
}
.table--container tr:nth-child(even) {
  background: #fff;
}
.table--container tfoot {
  background: rgba(var(--colorPrimary), 255);
}
.table--container tfoot td {
  padding: 15px;
  color: #fff;
}
.table--container button {
  color: green;
  background: none;
  cursor: pointer;
}
